.profile__avatar-edit-button {
    margin: 0;
    padding: 0;
    width: 120px;
    height: 120px;
    background-color: #000;
    cursor: pointer;
    border: none;
    position: relative;
}

.profile__avatar-edit-button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url('../../../images/profile__avatar-pencil.svg');
  background-size: 26px 26px;
  opacity: 0;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
}

.profile__avatar-edit-button:hover:after {
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 767px) {
    .profile__avatar-edit-button {
      margin: 0 auto;
      margin-bottom: 26px;
    }
}