.pop-up__button {
    color: #FFFFFF;
    background-color: black;
    width: 100%;
    min-height: 50px;
    margin: 16px auto 0;
    padding: 0;

}

.pop-up__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .pop-up__button {
        width: 100%;
    }
}