.pop-up__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    max-width: 430px;
    width: 100%;
    /* min-height: 330px; */
    position: relative;
    box-sizing: border-box;
    padding: 34px 36px;
}

@media screen and (max-width: 767px) {
    .pop-up__content {
        max-width: 282px;
        min-height: 322px;
        padding: 25px 22px;
    }
}